#!/bin/bash

# `control`
# ! Mora biti u folderu servera, zajedno sa vars.txt i 

if [[ -e $1/.cod2server ]]; then
	SRV_AUTHED=1
	cd $1
else
	if [[ $1 != "all" ]]; then
		echo "pwd nije cod2 server !"
		exit
	fi
fi

# . vars.txt 2>&1 > /dev/null || exit 1
# sve varijable

# SCREEN_NAME="cod2hosting-`pwd | sed 's/^.*\///g'`"
SCREEN_NAME="cod2hosting-$1"

cod2pid() {
	screen -wipe > /dev/null
	COD2=`screen -list | grep $SCREEN_NAME | cut -d"." -f 1`
}

start() {
	if [ $COD2 ]; then
		echo "COD2 server is already running with PID ${COD2}"
		exit 1
	else
		echo "Starting COD2 server."
		# ~/cod2/start
		if [[ -e .screenrc ]]; then
			screen -A -m -d -c .screenrc -S $SCREEN_NAME -t cod2hosting ./start
		else
			screen -A -m -d -S $SCREEN_NAME -t cod2hosting ./start
		fi
		sleep 2
		cod2pid
		echo "COD2 has started with PID of ${COD2}"
	fi
}

stop() {
	if [ $COD2 ]; then
		echo "Stop COD2 server with PID ${COD2}"
		kill -9 $COD2
	else
		echo "COD2 Server is not running!!"
	fi
}

status() {
	if [ $COD2 ]; then
		echo "COD2 server is running with PID of ${COD2}"
	else
		echo "COD2 Server is not running!!"
	fi
}

if [[ $1 -eq "all" ]]; then
	# cd - 2>&1 > /dev/null
	if [[ $2 == "status" ]]; then
		for srv in *-*; do
			if [[ -e $srv/.cod2server ]]; then
				SCREEN_NAME=cod2hosting-$srv
				echo $srv
				cod2pid
				status
			fi
		done
	else
		echo "Error"
		exit
	fi
	exit
fi

case "$2" in
	start)
	cod2pid
	start
;;
	stop)
	cod2pid
	stop
;;
	restart)
	cod2pid
	stop
	COD2=""
	start
;;
	status)
	cod2pid
	status
	RETVAL=$?
;;
	*)
	echo $"Usage: $0 {start|stop|restart|status}"
	exit 1
esac

cd - 2>&1 > /dev/null

exit

